<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}
<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-responsive.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}
<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<![endif]-->
<link rel="stylesheet" href="{% static "global/site.css" %}" />
<link rel="stylesheet" href="{% static "global/bootstrap_theme.css" %}" />

<link href='http://fonts.googleapis.com/css?family=Molle:400italic|Rancho' rel='stylesheet' type='text/css'>


{% block extra_head %}{% endblock %}

</head>
<body id="{% block body_id %}body{% endblock %}">

<!--
<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
    {% if settings.SITE_TITLE %}<a class="brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
    {% if settings.SITE_TAGLINE %}<p class="navbar-text">{{ settings.SITE_TAGLINE }}</p>{% endif %}
    <div class="nav-collapse">
        {% search_form "all" %}
        {% page_menu "pages/menus/dropdown.html" %}
    </div>
</div>
</div>
</div>
-->

<div class="container">
<div class="container">

{% nevercache %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" data-alert="alert">
    <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
</div>
{% endfor %}
{% endnevercache %}


{% search_form "all" %}
<div class="starburst pull-right">
3.0
</div>
<h1>The Linux Gaming Tome</h1>

{% spaceless %}
<ul id="top-menu" class="nav-list">
{% for page in page_branch %}
    {% if not has_home and page.is_primary and forloop.first %}
        <li id="top-menu-home" class="first{% if on_home %} active{% endif %}">
            <a href="{% url "home" %}">{% trans "Home" %}</a>
        </li>
    {% endif %}
    {% if page.in_menu %}
        <li id="top-menu-{{ page.html_id }}"
        class="{% if page.is_current_or_ascendant %}active{% endif %}{% if forloop.last %} last{% endif %}">
        <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
        </li>
    {% endif %}
{% endfor %}
<li class="divider-vertical"></li>
</ul>
{% endspaceless %}
</div>

<div class="masthead">
<img src="{% static "global/woman.png" %}" class="right" />
</div>

<div class="container">

<ul class="breadcrumb">
{% spaceless %}
{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
{% endspaceless %}
</ul>

<div class="row">

<div class="span2 left">

    {% block left_panel %}
    {% comment %}
    <div class="panel tree">{% page_menu "pages/menus/primary.html" %}</div>
    <div class="panel tree">{% page_menu "pages/menus/tree.html" %}</div>
    {% endcomment %}
    <div class="panel tree">
    {% include "blog/includes/filter_panel.html" %}
    </div>
    {% endblock %}
<img src="{% static "global/man.png" %}" class="left" />
</div>

<div class="span7 middle">
    {% block main %}{% endblock %}
</div>

<div class="span3 right">
    {% nevercache %}
        {% include "includes/user_panel.html" %}
    {% endnevercache %}
    <div class="panel">
    {% block right_panel %}
        {% ifinstalled mezzanine.twitter %}
            {% include "twitter/tweets.html" %}
        {% endifinstalled %}
    {% endblock %}
    <img src="{% static "global/tux_asleep.png" %}" class="right" />
    </div>
</div>

</div>
</div>

<footer>
<div class="container">
{% page_menu "pages/menus/footer.html" %}
<p>
    {% trans "Powered by" %}
    <a href="http://mezzanine.jupo.org">Mezzanine</a>{% ifinstalled cartridge.shop %},
    <a href="http://cartridge.jupo.org">Cartridge</a>{% endifinstalled %}
    {% trans "and" %}
    <a href="http://www.djangoproject.com">Django</a>
    <span class="separator">|</span>
    {% trans "Theme by" %} <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>
    {% ifinstalled mezzanine.mobile %}
    <span class="separator">|</span>
    <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
    {% endifinstalled %}
</p>
</div>
</footer>

{% include "includes/footer_scripts.html" %}

</div>
</body>
</html>
