


/*h1, h2, h3, h4, h5, h6 {*/
h1 {
		font-family: "Molle", cursive !important;
		font-style: italic;
}
h2, h3, h4, h5, h6 {
		font-family: "Rancho", cursive;
}


h1 {
		font-size: 42pt;
}



img.right, img.left {
		border: 0;
		box-shadow: none;
}

.starburst {
		background: url('star_burst.png') no-repeat;
		display: inline-block;
		height: 74px;
		width: 74px;
		font-family: "Molle", cursive;
		font-style: italic;
		font-size: 22pt;
		padding-top: 26px;
		text-align: center;
}


.starburst.small {
		font-family: "Rancho", cursive;
		font-size: 12pt;
		padding-top: 26px;
		text-align: center;
}

.masthead img.right {
		margin-top: -80px;
		margin-bottom: -80px;
}

.masthead img.right{
		float: right;
}


.masthead img.left {
		float: left;
}


a.brand {
		font-size: 32pt !important;
		font-family: "Molle", cursive !important;
		font-style: italic;
}

.container {
		background: white;
		padding-top: 10px;
}

body {
		background: url('lyonnette.png');
		padding-top: 0;
}

#top-menu {
		display: inline-block;
		padding-top: 10px;
}

#top-menu li {
		display: inline;
		margin-right: 30px;
}
#top-menu a {
		display: inline;
		margin: 5px;
		padding: 2px;
		font-size: 25pt;
		letter-spacing: 3px;
		font-family: "Rancho", cursive;
}

#top-menu a:hover {
		text-decoration: none;
}

ul.breadcrumb {
		background: #E2DF9A;
}

